####
# config.py.example

# Copy this file to config.py, then update APIKEY and HOOKS.

# env $DOCKERHOOK_TOKEN overrides this.
APIKEY = 'secret'

# Add your script using the name of your repository as the key
HOOKS = {
         'repo1': {'default':'tests_script2.sh','latest':'test_tags_script_latest.sh'},
         'repo2': {'default':'tests_script.sh','2.0':'test_tags_script.sh'}
        }
